version: "3.8"

services:
  pgvector:
    image: pgvector/pgvector:pg16
    container_name: pgvector_db
    restart: always
    env_file:
      - ../../../../.env

    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

